<homepage>
    HOME { Math.round(Math.random() * 32) } <img src="image1.jpg" onclick={ () => { this.update() } } need-loading>

    <script>
        export default {
            onMounted() {
                console.log("mounted");
            },
            onUnmounted() {
                console.log("unmounted");
            },
            onUpdated() {
                console.log("updated");
            }
        }
    </script>
</homepage>