<homepage>
    HOME <img src="image1.jpg" need-loading>

    <script>
        export default {
            onMounted() {
                console.log("mounted");
            },
            onUnmounted() {
                console.log("unmounted");
            },
            onUpdated() {
                console.log("updated");
            }
        }
    </script>
</homepage>