<replace-test>
    <div ref="loader" need-loading />
    <div ref="slowLoader" need-loading />

    <script>
        export default {
            onBeforeMount() {
                let start = Date.now();
                setTimeout(() => {
                    this.root.querySelector("[ref=slowLoader]").dispatchEvent(new Event("load"));
                    console.log("elapsed: " + (Date.now() - start) + "ms");
                }, 600 + (Math.random() * 600));
                Promise.resolve().then(() => {
                    // Router.go("/accedi", { replace: true });
                    this.root.querySelector("[ref=loader]").dispatchEvent(new Event("load"));
                });
            }
        }
    </script>
</replace-test>