<rhm-homepage>
    <div>
        <img src="image1.jpg" onclick={ update.bind(this) } need-loading>
    </div>
    <div>HOME { Math.round(Math.random() * 32) }</div>

    <script>
        export default {
            onMounted() {
                console.log("homepage mounted");
            },
            onUnmounted() {
                console.log("homepage unmounted");
            },
            onUpdated() {
                console.log("homepage updated");
            }
        }
    </script>
</rhm-homepage>