<test>
    <navigate href="home">to HOME</navigate>
    <navigate href="me">to ME</navigate>
    <navigate href="users/{ Math.round(Math.random() * 32) }" replace>to USERS/:id</navigate>
    <div />
    <navigate context="home">Restore home</navigate>
    <navigate context="profile">Restore profile</navigate>
    <div />
    <router>
        <route path="" redirect="home" />
        <route path="home">
            <homepage need-loading />
        </route>
        <route path="me">
            <replace-test need-loading />
        </route>
        <route path="users/:id">{
            route.location.href
        }</route>
    </router>
 
    <script>
        import { Router, HistoryManager } from "history-manager";
        import lazy from "@riotjs/lazy";
        window.Router = Router;
        window.HistoryManager = HistoryManager;

        Router.setContext({
            name: "home",
            paths: [
                { path: "" },
                { path: "home" }
            ],
            default: ""
        });
        Router.setContext({
            name: "profile",
            paths: [
                { path: "me" },
                { path: "accedi", fallback: true },
                { path: "users/:id", fallback: true }
            ],
            default: "me"
        });

        export default {
            onMounted() {
                Router.start("home").then(() => console.log("started"));
            },
            components: {
                homepage: lazy(() => import('./homepage.riot')),
                "replace-test": lazy(() => import('./replace-test.riot'))
            }
        }
    </script>
</test>